# Data
data/
colon/
*.h5ad

# Model weights & checkpoints
*.pt
*.pth
*.bin
ckpt/
pretrained_models/
output*/

# Logs & job outputs
*.out
*.err
*.log
*.csv
!gene_signatures/*.csv

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
.codex
benchmark
docs
.gitignore